:root {
  --dark: #2a6592;
  --light: #fff;
  --navlink-color: #b9c6ae;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--dark);
  color: var(--light);
}

.links {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  list-style-type: none;
  text-align-last: right;
  color: var(--light);
}

nav a {
  background-color: unset;
  color: var(--light);
  text-decoration: none;
}

nav a:hover {
  color: var(--light);
}

a[href*='.css']::after {
  content: '📝';
  display: inline-block;
  margin-left: 3px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

img {
  margin-right: 20px;
}

.content {
  flex: 1;
  margin-left: 20px;
}

.aboutme,
.work {
  margin-bottom: 20px;
  padding: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  background-color: var(--dark);
  color: var(--light);
}

.skills {
  list-style-type: none;
  margin-bottom: 20px;
  padding: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  background-color: var(--dark);
  color: var(--light);
}

.footer ul {
  display: flex;
  justify-content: center;
  padding: 2%;
  font-size: 20x;
  background-color: var(--dark);
  color: var(--light);
}

.msg {
  display: flex;
  justify-content: center;
  font-size: 30x;
  background-color: var(--dark);
  color: var(--light);
}